@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-200 selection:bg-primary/30;
  }
}

.glass {
  @apply bg-surface/50 backdrop-blur-md border border-white/5;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
